<nav class="blue" role="navigation">
  <div class="nav-wrapper">
    <a href="#" class="left brand-logo"> <i class="material-icons">blur_on</i> </a>

    <ul id="nav-desktop" class="right hide-on-med-and-down">
      <li><a href="">Sobre</a></li>
      <li><a href="">Bog</a></li>
      <li><a href="">Contato</a></li>
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger right">
      <i class="material-icons">menu</i>
    </a>

  </div>
</nav>

<ul class="sidenav" id="nav-mobile">
  <li> <a href="#!">Sobre</a> </li>
  <li> <a href="#!">Bog</a> </li>
  <li> <a href="#!">Contato</a> </li>
</ul>
